.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 3rem;
  gap: 1rem;
  background-color: white;
  color: black;

  &__title {
    font-size: 20px;
  }
}
