@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

$text-color: #000000;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 9999;

  background-image: url('speech_bubble.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 320px;
  height: 220px;

  padding-bottom: 20px;

  transform-origin: center center;

  &.animate {
    animation: bubblePop 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  }

  .comboNumber {
    font-family: 'Reggae One', serif;
    font-size: 96px;
    font-weight: 400;
    color: $text-color;
    line-height: 1;
    margin: 0;
  }

  .comboText {
    font-family: 'Reggae One', serif;
    font-size: 32px;
    color: $text-color;
    margin-top: -10px;
  }
}

@keyframes bubblePop {
  0% {
    transform: scale(0.5) rotate(-5deg);
    opacity: 0;
  }

  50% {
    transform: scale(1.1) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}
